body {
  margin: 0;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  font-size: 150%;

  color: #40514E;
}

h1 {
  color: #3e978b;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Satisfy', cursive;
}

h2 {
  color: #3e978b;
  font-size: 2.5rem;
  font-family: 'Amatic SC', cursive;
}

h3 {
  color: #0e9aa7;
  font-family: 'Kaushan Script', cursive;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #D3D3D3;
  border-width: 5px;
  width: 6%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a:hover{
  color: #eaf6f6;
}

.top-container {
  background-color: #d2f5e3;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 100px;
  padding-bottom: 100px;

}

.bottom-container {
  background-color: #a3d2ca;
  padding: 50px 0 20px;
}

.html {
  position: absolute;
  right: 9%;
  top: 7%;
}

.dev-pc {
  position: absolute;
  left: 9%;
  bottom: 7%;
}

.css-img {
  position: absolute;
  left: 9%;
  top: 7%;
}

.js-img {
  position: absolute;
  right: 9%;
  bottom: 7%;
}

.footer-link {
  color: #0e9aa7;
  margin: 10px 15px;
  text-decoration: none;

}

.personal-title {
  font-weight: normal;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.webdev-logo {
  float: right;
  margin-left: 30px;
}

.blender-logo {
  float: left;
  margin-right: 30px;
}

.copyright {
  color: #eaf6f6;
  font-size: 1rem;
}

.btn {
  margin-top: 100px;
  background: #3e978b;
  background-image: -webkit-linear-gradient(top, #3e978b, #3e978b);
  background-image: -moz-linear-gradient(top, #3e978b, #3e978b);
  background-image: -ms-linear-gradient(top, #3e978b, #3e978b);
  background-image: -o-linear-gradient(top, #3e978b, #3e978b);
  background-image: -webkit-gradient(to bottom, #3e978b, #3e978b);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #eaf6f6;
  font-family: Amatic SC;
  font-size: 25px;
  font-weight: normal;
  padding: 15px;
  -webkit-box-shadow: 1px 1px 10px 0 #3e978b;
  -moz-box-shadow: 1px 1px 10px 0 #3e978b;
  box-shadow: 1px 1px 10px 0 #3e978b;
  text-shadow: 1px 1px 10px #3e978b;
  border: solid #3e978b 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: solid #a3d2ca 1px;
  background: #a3d2ca;
  background-image: -webkit-linear-gradient(top, #32e0c4, #32e0c4);
  background-image: -moz-linear-gradient(top, #32e0c4, #32e0c4);
  background-image: -ms-linear-gradient(top, #32e0c4, #32e0c4);
  background-image: -o-linear-gradient(top, #32e0c4, #32e0c4);
  background-image: -webkit-gradient(to bottom, #32e0c4, #32e0c4);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}
