body {

  margin: 0;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}

h1 {
  font-size: 5.625em;
  margin-top: 0;
  font-family: 'Satisfy', cursive;
}

h2 {
  font-family: 'Amatic SC', cursive;
}

h3 {
  font-family: 'Kaushan Script', cursive;
}

.top_container {
  background-color: #d2f5e3;
  position: relative;
  padding-top: 100px;
}

.middle_container {

}

.bottom_container {

}

.code {
  position: absolute;
  right: 500px;
  top: 50px;
}

.idealamp {
  position: absolute;
  left: 450px;
  bottom: 200px;
}
